*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* GENERAL BG IMAGE */
.bg-main{
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

/* MAIN CONTAINER */
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* CARD */
.card{
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(15px);
    border-radius: 10px;

    width: 80%;
    max-width: 550px;
    padding: 60px 20px;

    box-shadow: 0 4px 30px rgba(209, 139, 168, 0.8);
    text-align: center;

    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card h1 {
    font-size: 1.7rem;
    color: #444444;
}

.direction-text{
    font-size: 1rem;
    color: #444444;
    line-height: 1.6;
    padding: 0 10px;
}

.card button {
    background-color: #FF69B4;
    color: #fff;
    font-size: 1rem;
    padding: 10px 25px;
    border: none;
    border-radius: 5px;
    cursor: pointer;

    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    transition: background-color .3s ease, transform .2s ease;
}

.card button:hover {
    background-color: #FF1493;
    transform: translateY(-2px);
}

.card button:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(255, 105, 180, 0.5);
}

/* RULES PAGE */
.rulebox{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.ruleboxCard{
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(15px);

    border-radius: 10px;
    width: 80%;
    max-width: 550px;

    padding: 25px 20px;
    box-shadow: 0 4px 30px rgba(209, 139, 168, 0.8);

    text-align: left;
    color: #444444;
    line-height: 1.35rem;
}

.rule span{
    font-weight: bold;
}

.ruleSuggestion{
    margin-top: 20px;
    font-size: 1.2rem;
    text-align: center;
}